<div>
    <p>The purpose of this feature is to check wether a polling strategy for Long Proceses are working as ecpected,
        meaning
        that log process last more than 2 mins witch is the browsers limit
    </p>
</div>

<div class="col-md-12 poll-buttons">
    <button class="btn btn-warning" (click)="startLongProcess()">START LONG PROCESS</button>
    <button class="btn btn-warning" (click)="manualPoll(hashToPoll)">TRIGERR MANUAL POLL</button>
</div>
<div class="status-labels" *ngIf="pollStatus">
    <label>STATUS: {{pollStatus.status}}</label>
    <label>MESSAGE: {{pollStatus.message}}</label>
    <label>HASH: {{pollStatus.hash}}</label>
</div>