.main-actions {
  display: flex;
  .buttons-div {
    > button {
      margin-left: 10px;
      > i {
        font-size: small;
      }
    }
    >button:disabled {
      cursor: not-allowed;
    }
  }
}
