<div class="main-actions">
  <div class="col-md-8 search-bar">
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
  <div class="buttons-div">
    <button class="btn btn-warning">
      <i class="fa fa-plus"></i>
      <label>Note</label>
    </button>
    <button
      class="btn btn-info pull-right"
      (click)="newNotebook('New Notebook')"
    >
      <i class="fa fa-plus"></i>
      <label>Notebook</label>
    </button>
  </div>
</div>
