<section class="notes-panel">
    <div class="card single-card">
        <div>
            <span>
                <input [(ngModel)]="note.title" type="text" class="note-title" (change)="updateNote(note)">
                <i class="fa fa-trash-alt fa-sm text-danger" (click)="onRemoveNote(note.id)"></i>
            </span>
            <div>
                <span>
                    <textarea [(ngModel)]="note.text" type="text" class="note-text"
                        (change)="updateNote(note)"></textarea>
                </span>
            </div>
        </div>
    </div>
</section>