<app-notes-actions [selectedNotebook]="selectedNotebook"></app-notes-actions>
<!-- Notes Content -->
<div class="notes-content">
  <!-- Notebooks Menu -->
  <section class="notebook-menu">
    <ol>
      <li (click)="onAllNotes()">
        <i class="fas fa-book"></i>
        <label>All Notes</label>
      </li>
      <li *ngFor="let notebook of notebooks" class="notebook-item" (click)="setSelectedNotebook(notebook)"
        (click)="getNotesOfNotebook(notebook)">
        <i class="fas fa-book"></i>
        <input [(ngModel)]="notebook.name" (change)="updateNotebook(notebook)" type="text" name="name" />
        <i class="fa fa-trash-alt fa-sm text-danger" (click)="deleteNotebook(notebook.id)"></i>

      </li>
    </ol>
  </section>
  <!-- Notes panel -->
  <h3 class="notebooks-title" *ngIf="!selectedNotebook">All Notes</h3>
  <h3 class="notebooks-title" *ngIf="selectedNotebook">{{selectedNotebook.name}}</h3>
  <p class="notebooks-title" *ngIf="!notes.length">There are no Notes in this Notebook :(</p>
  <app-note *ngFor="let note of notes | noteTextFilter:this._notesService.searchText" [note]="note"
    (removeNoteEvent)="removeNote($event)" (updatedNoteEvent)="updateNote($event, selectedNotebook)"></app-note>
</div>