div.notes-content {
  // display: flex;
  padding-left: 1rem;
  padding-top: 3rem;

  section.notebook-menu {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background: #eeeeee;
    width: 100%;
    // max-width: 30%;

    ol li:hover {
      background: #fcfcfc;
      border-radius: 8px;
    }
    ol li {
      display: flow-root;
      > i {
        cursor: pointer;
        padding-right: 0.5rem;
      }
      > input {
        // padding-left: 1rem;
        width: 95%;
        cursor: context-menu;
        border: none;
        background: transparent;
      }
      > input:focus {
        border-top: none; // ?
        border-left: none;
        border-right: none;
      }

      > a {
        padding-left: 0.5rem;
        // width: 15%;
      }
    }
  }
}


.notebooks-title {
  margin-top: 2rem;;
  padding-left: 1rem;
}

// general style
.text-danger {
  float: right;
  margin: 0.5rem;
  cursor: pointer;
}