<app-notes-actions></app-notes-actions>
<!-- Notes Content -->
<div class="notes-content">
  <!-- Notebooks Menu -->
  <section class="notebook-menu">
    <ul>
      <li>
        <i class="fas fa-book"></i>
        <label>All Notes</label>
      </li>
      <li *ngFor="let notebook of notebooks" class="notebook-item">
        <i class="fas fa-book"></i>
        <!-- <label>{{ notebook.name }}</label> -->
        <input
          [(ngModel)]="notebook.name"
          (change)="updateNotebook(notebook)"
          type="text"
          name="name"
        />
        <a class="text-danger" (click)="deleteNotebook(notebook)">
          <i class="fa fa-trash-alt fa-sm"></i>
        </a>
      </li>
    </ul>
  </section>
  <!-- Notes panel -->
  <section *ngFor="let note of notes" class="notes-panel">
    <div>
      <span>
        <label>{{ note.title }}</label>
      </span>
      <div>
        <span>
          <label>{{ note.text }}</label>
        </span>
      </div>
    </div>
  </section>
</div>
